<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @welcome.name %>
  <%= image_tag @welcome.photo, :height => 40 %>
</p>


<%= link_to 'Edit', edit_welcome_path(@welcome) %> |
<%= link_to 'Back', welcomes_path %>
